# =========================
# DEPENDENCIAS
# =========================
node_modules/
# =========================
# ARCHIVOS GENERADOS POR PARCEL
# =========================
dist/
.parcel-cache/
# =========================
# ARCHIVOS DE POSTHTML
# =========================
.posthtmlrc
