<header class="header">
  <div class="container">
    <h1 class="logo">
      <a href="index.html">Sabores de Italia</a>
    </h1>
    <!-- aria-label mejora la comprensión para lectores de pantalla.-->
    <nav aria-label="Navegación principal">
      <ul class="nav-list">
        <!-- aria-current indica la página activa. -->  
        <li><a href="index.html" aria-current="page">Inicio</a></li>
        <li><a href="categoria.html">Recetas</a></li>
        <li><a href="formulario-receta.html">Solicita una receta</a></li>
        <li><a href="links.html">Fuentes</a></li>
      </ul>
    </nav>
  </div>
</header>